In [1]:
import pandas as pd
df=pd.read_csv('links_100k.csv')
df['imdbId'] = df['imdbId'].apply(lambda x: '{0:0>7}'.format(x))
df['links']=("http://www.imdb.com/title/tt"+df['imdbId'].astype(str))
df

      movieId   imdbId    tmdbId                                links
0           1  0114709     862.0  http://www.imdb.com/title/tt0114709
1           2  0113497    8844.0  http://www.imdb.com/title/tt0113497
2           3  0113228   15602.0  http://www.imdb.com/title/tt0113228
3           4  0114885   31357.0  http://www.imdb.com/title/tt0114885
4           5  0113041   11862.0  http://www.imdb.com/title/tt0113041
5           6  0113277     949.0  http://www.imdb.com/title/tt0113277
6           7  0114319   11860.0  http://www.imdb.com/title/tt0114319
7           8  0112302   45325.0  http://www.imdb.com/title/tt0112302
8           9  0114576    9091.0  http://www.imdb.com/title/tt0114576
9          10  0113189     710.0  http://www.imdb.com/title/tt0113189
10         11  0112346    9087.0  http://www.imdb.com/title/tt0112346
11         12  0112896   12110.0  http://www.imdb.com/title/tt0112896
12         13  0112453   21032.0  http://www.imdb.com/title/tt0112453
13         14  0113987   10858.0  http://www.imdb.com/title/tt0113987
14         15  0112760    1408.0  http://www.imdb.com/title/tt0112760
15         16  0112641     524.0  http://www.imdb.com/title/tt0112641
16         17  0114388    4584.0  http://www.imdb.com/title/tt0114388
17         18  0113101       5.0  http://www.imdb.com/title/tt0113101
18         19  0112281    9273.0  http://www.imdb.com/title/tt0112281
19         20  0113845   11517.0  http://www.imdb.com/title/tt0113845
20         21  0113161    8012.0  http://www.imdb.com/title/tt0113161
21         22  0112722    1710.0  http://www.imdb.com/title/tt0112722
22         23  0112401    9691.0  http://www.imdb.com/title/tt0112401
23         24  0114168   12665.0  http://www.imdb.com/title/tt0114168
24         25  0113627     451.0  http://www.imdb.com/title/tt0113627
25         26  0114057   16420.0  http://www.imdb.com/title/tt0114057
26         27  0114011    9263.0  http://www.imdb.com/title/tt0114011
27         28  0114117   17015.0  http://www.imdb.com/title/tt0114117
28         29  0112682     902.0  http://www.imdb.com/title/tt0112682
29         30  0115012   37557.0  http://www.imdb.com/title/tt0115012
...       ...      ...       ...                                  ...
9095   159690  3949660  308531.0  http://www.imdb.com/title/tt3949660
9096   159755  3960412  341012.0  http://www.imdb.com/title/tt3960412
9097   159858  3065204  259693.0  http://www.imdb.com/title/tt3065204
9098   159972  2674430  328429.0  http://www.imdb.com/title/tt2674430
9099   160080  1289401   43074.0  http://www.imdb.com/title/tt1289401
9100   160271  1489889  302699.0  http://www.imdb.com/title/tt1489889
9101   160438  4196776  324668.0  http://www.imdb.com/title/tt4196776
9102   160440  2263814  278348.0  http://www.imdb.com/title/tt2263814
9103   160563  0918940  258489.0  http://www.imdb.com/title/tt0918940
9104   160565  4094724  316727.0  http://www.imdb.com/title/tt4094724
9105   160567  2823054  316023.0  http://www.imdb.com/title/tt2823054
9106   160590  2751904  177869.0  http://www.imdb.com/title/tt2751904
9107   160656  1639084  353571.0  http://www.imdb.com/title/tt1639084
9108   160718  5613056  399106.0  http://www.imdb.com/title/tt5613056
9109   160954  3531824  328387.0  http://www.imdb.com/title/tt3531824
9110   161084  4465220  368620.0  http://www.imdb.com/title/tt4465220
9111   161155  5794766  401387.0  http://www.imdb.com/title/tt5794766
9112   161336  5278462  373348.0  http://www.imdb.com/title/tt5278462
9113   161582  2582782  338766.0  http://www.imdb.com/title/tt2582782
9114   161594  5595168  390734.0  http://www.imdb.com/title/tt5595168
9115   161830  3732950  314420.0  http://www.imdb.com/title/tt3732950
9116   161918  4831420  390989.0  http://www.imdb.com/title/tt4831420
9117   161944  0255313  159550.0  http://www.imdb.com/title/tt0255313
9118   162376  4574334  410612.0  http://www.imdb.com/title/tt4574334
9119   162542  5165344  392572.0  http://www.imdb.com/title/tt5165344
9120   162672  3859980  402672.0  http://www.imdb.com/title/tt3859980
9121   163056  4262980  315011.0  http://www.imdb.com/title/tt4262980
9122   163949  2531318  391698.0  http://www.imdb.com/title/tt2531318
9123   164977  0027660  137608.0  http://www.imdb.com/title/tt0027660
9124   164979  3447228  410803.0  http://www.imdb.com/title/tt3447228

[9125 rows x 4 columns]

In [2]:
def movie_data(url,movieId,imdbId):
    import requests
    from bs4 import BeautifulSoup
    response = requests.get(url)
    results_page = BeautifulSoup(response.content,'lxml')

    title=results_page.find('meta',{'property':'og:title'}).get('content')

    user_score='-'
    try:
        user_score_1=results_page.find('div',{'class':'ratingValue'}).find('strong')
        user_score=user_score_1.find('span',{'itemprop':'ratingValue'}).get_text()
    except:
        pass
    
    ratingCount = '-'
    try:
        href_id='/title/tt'+imdbId+'/ratings?ref_=tt_ov_rt'
        ratingCount1=results_page.find('a',{'href':href_id})
        try:
            ratingCount=ratingCount1.find('span',{'itemprop':'ratingCount'}).get_text()
        except:
            pass
    except:
        pass
    
    budget = '-'
    for i in results_page.find_all('h4',{'class':'inline'}):
        if i.get_text()=='Budget:':
            b=i.parent.get_text()
            budget = b.split()[0].split(':')[1]
    
    revenue = "-"
    revenue_USA = '-'
    for i in results_page.find_all('h4',{'class':'inline'}):
        if i.get_text()=='Cumulative Worldwide Gross:':
            b=i.parent.get_text()
            revenue = b.split()[3]
            #revenue = b.split()[0].split(':')[1]
        
        if i.get_text()=='Gross USA:':
            p=i.parent.get_text()
            revenue_USA = p.split()[2]
    
    if revenue == "-":
        revenue = revenue_USA

    
    #<a href="/title/tt0008536/ratings?ref_=tt_ov_rt"><span class="small" itemprop="ratingCount">97</span></a>
    #soup.find('div',attrs={"class":"table-info"}).findAll('div')
    #type[2].find('strong').string 

    #featured_crew=[]
    #for i in results_page.find_all('li',{'class':'profile'}):
        #try:
            #featured_crew.append((i.find('a').get_text(),(i.find('a').get('href')).split('/')[2].split('-')[0],i.find('p',{'class':'character'}).get_text()))
        #except:
            #pass

    #top_billed_cast=[]
    #for i in results_page.find_all('li',{'class':'card'}):
        #try:
            #top_billed_cast.append((i.find('p').get_text(),i.find('a').get('href').split('/')[2].split('-')[0],i.find('p',{'class':'character'}).get_text()))
        #except:
            #pass

    #for i in results_page.find_all('strong'):
        #if i.get_text()=='Original Language':
            #original_language=i.parent.get_text().split()[2]

    #for i in results_page.find_all('strong'):
        #if i.get_text()=='Runtime':
            #if (i.parent.get_text().split()[1]) != "-":
                #runtime=(i.parent.get_text().split()[1])+(i.parent.get_text().split()[2])
            #else:
                #runtime="-"

    #for i in results_page.find_all('strong'):
        #if i.get_text()=='Budget':
            #budget=i.parent.get_text().split()[1]

    #for i in results_page.find_all('strong'):
        #if i.get_text()=='Revenue':
            #revenue=i.parent.get_text().split()[1]

    #genres=[]
    #for i in results_page.find('section',{'class':'genres right_column'}).find_all('a'):
        #genres.append(i.get_text())

    #all_features=[movieId,title,user_score,featured_crew,top_billed_cast,original_language,runtime,budget,revenue,genres]
    all_features=[movieId,title,user_score,ratingCount,budget,revenue]
    import pandas as pd
    pd.set_option('display.max_colwidth', -1)
    df=pd.DataFrame(all_features).transpose()
    #df.columns=['movieId','TITLE','USER SCORE','FEATURED CREW','TOP BILLED CAST','ORIGINAL LANGUAGE','RUN TIME','BUDGET','REVENUE','GENRE']
    df.columns=['movieId','TITLE','IMDB_SCORE','TOTAL_RATINGS','BUDGET','REVENUE']
    return df

In [3]:
movie_data(df['links'][0],df['movieId'][0],df['imdbId'][0])

,movieId,TITLE,IMDB_SCORE,TOTAL_RATINGS,BUDGET,REVENUE
0,1,Toy Story (1995),8.3,"703,667","$30,000,000","$373,554,033"

In [7]:
imdb_contentData = pd.DataFrame()

In [21]:
for i in range(8967,df.shape[0]):
    print(i)
    if df['imdbId'][i]!= 0:
        result = movie_data(df['links'][i],df['movieId'][i],df['imdbId'][i])
        imdb_contentData = pd.concat([imdb_contentData, result])

8967
8968
8969
8970
8971
8972
8973
8974
8975
8976
8977
8978
8979
8980
8981
8982
8983
8984
8985
8986
8987
8988
8989
8990
8991
8992
8993
8994
8995
8996
8997
8998
8999
9000
9001
9002
9003
9004
9005
9006
9007
9008
9009
9010
9011
9012
9013
9014
9015
9016
9017
9018
9019
9020
9021
9022
9023
9024
9025
9026
9027
9028
9029
9030
9031
9032
9033
9034
9035
9036
9037
9038
9039
9040
9041
9042
9043
9044
9045
9046
9047
9048
9049
9050
9051
9052
9053
9054
9055
9056
9057
9058
9059
9060
9061
9062
9063
9064
9065
9066
9067
9068
9069
9070
9071
9072
9073
9074
9075
9076
9077
9078
9079
9080
9081
9082
9083
9084
9085
9086
9087
9088
9089
9090
9091
9092
9093
9094
9095
9096
9097
9098
9099
9100
9101
9102
9103
9104
9105
9106
9107
9108
9109
9110
9111
9112
9113
9114
9115
9116
9117
9118
9119
9120
9121
9122
9123
9124

In [22]:
imdb_contentData.head()

,movieId,TITLE,IMDB_SCORE,TOTAL_RATINGS,BUDGET,REVENUE
0,1,Toy Story (1995),8.3,"703,667","$30,000,000","$373,554,033"
0,2,Jumanji (1995),6.9,"235,951","$50,000,000","$262,797,249"
0,3,Grumpier Old Men (1995),6.6,"20,900","$25,000,000","$69,870,000"
0,4,Waiting to Exhale (1995),5.7,"8,043","$16,000,000","$81,452,156"
0,5,Father of the Bride Part II (1995),5.9,"28,904","$30,000,000","$76,594,000"

In [23]:
imdb_contentData.shape

(9293, 6)

In [24]:
imdb_contentData.to_csv('IMDb_scraped_100k_data_original.csv', sep=',', encoding='utf-8')

In [147]:
import requests
from bs4 import BeautifulSoup
response = requests.get('http://www.imdb.com/title/tt125877')
results_page = BeautifulSoup(response.content,'lxml')
imdbId='0125877'
title=results_page.find('meta',{'property':'og:title'}).get('content')
print title
user_score='-'
try:
    user_score_1=results_page.find('div',{'class':'ratingValue'}).find('strong')
    user_score=user_score_1.find('span',{'itemprop':'ratingValue'}).get_text()
except:
    pass
print user_score

for i in results_page.find_all('h4',{'class':'inline'}):
    if i.get_text()=='Cumulative Worldwide Gross:':
        b=i.parent.get_text()
        revenue = b.split()[3]
        print revenue
        #revenue = b.split()[0].split(':')[1]
        #print b.split()[3]
    if i.get_text()=='Gross USA:':
        p=i.parent.get_text()
        revenue_USA = p.split()[2]
        print revenue_USA
    
if revenue == "-":
    revenue = revenue_USA
    
print revenue

#for i in results_page.find_all('strong'):
        #if i.get_text()=='Original Language':
            #original_language=i.parent.get_text().split()[2]
#for i in results_page.find_all('div',{'class':'txt-block'}):
    #a=i.find('h4',{'class':'inline'}.get_text()
    #a=i.get_text()
#for i in results_page.find_all('h4',{'class':'inline'}):
    #a=i.find('h4',{'class':'inline'}.get_text()
    #a=i.get_text()
    #if i.get_text()=='Gross USA:':
        #print 'yo'
        #b=i.parent.get_text()
        #print b.split()[2]
        #print b.split()[0].split(':')[1]

Low Life (1994)
-
$373,554,033

In [68]:
import requests
from bs4 import BeautifulSoup
response = requests.get('http://www.imdb.com/title/tt114709')
results_page = BeautifulSoup(response.content,'lxml')
#print results_page
imdbId='0114709'
title=results_page.find('meta',{'property':'og:title'}).get('content')
print title
#user_score_1=results_page.find('div',{'class':'title_block'})#.find('strong')
#user_score_1
#((i.find('a').get_text(),(i.find('a').get('href')).split('/')[2].split('-')[0],i.find('p',{'class':'character'}).get_text()))
#ratingCount1=results_page.find('a').get('href')#,{'href':'/title/tt'+imdbId+'/ratings?ref_=tt_ov_rt'})
href_id='/title/tt'+imdbId+'/ratings?ref_=tt_ov_rt'
print href_id
ratingCount1=results_page.find('a',{'href':href_id})
ratingCount=ratingCount1.find('span',{'itemprop':'ratingCount'}).get_text()
print ratingCount1,ratingCount
#user_score_1=results_page.find('div',{'class':'ratingValue'}).find('strong').get_text()
#print user_score_1

Toy Story (1995)
/title/tt0114709/ratings?ref_=tt_ov_rt
<a href="/title/tt0114709/ratings?ref_=tt_ov_rt"><span class="small" itemprop="ratingCount">703,627</span></a> 703,627

In [47]:
imdbId='0114709'
a='/title/tt'+imdbId+'/ratings?ref_=tt_ov_rt'
print a

/title/tt0114709/ratings?ref_=tt_ov_rt

In [84]:
import numpy as np
df['tmdbId'] =  df['tmdbId'].fillna(0)

In [85]:
df['tmdbId'][607]

0.0

In [86]:
df.shape[0]

9125

In [121]:
#contentData = pd.DataFrame()
for i in range(9119,df.shape[0]):
    print(i)
    if df['tmdbId'][i]!= 0:
        result = movie_data(df['links'][i],df['movieId'][i])
        contentData = pd.concat([contentData, result])

9119
9120
9121
9122
9123
9124

In [122]:
contentData.head()

,movieId,TITLE,USER SCORE,FEATURED CREW,TOP BILLED CAST,ORIGINAL LANGUAGE,RUN TIME,BUDGET,REVENUE,GENRE
0,1,Toy Story,78.0,"[(Alec Sokolow, 12893, Screenplay), (Joel Cohen, 12892, Screenplay), (Joss Whedon, 12891, Screenplay), (John Lasseter, 7879, Director), (Andrew Stanton, 7, Screenplay)]","[(Tom Hanks, 31, Woody (voice)), (Tim Allen, 12898, Buzz Lightyear (voice)), (Don Rickles, 7167, Mr. Potato Head (voice)), (Jim Varney, 12899, Slinky Dog (voice)), (Wallace Shawn, 12900, Rex (voice))]",English,1h21m,"$30,000,000.00","$373,554,033.00","[Animation, Comedy, Family]"
0,2,Jumanji,69.0,"[(Greg Taylor, 56520, Screenplay), (Chris van Allsburg, 42356, Novel), (Jim Strain, 56521, Screenplay), (Joe Johnston, 4945, Director), (Jonathan Hensleigh, 876, Screenplay)]","[(Robin Williams, 2157, Alan Parrish), (Jonathan Hyde, 8537, Samuel Alan Parrish / Van Pelt), (Kirsten Dunst, 205, Judy Sheperd), (Bradley Pierce, 145151, Peter Shepherd), (Bonnie Hunt, 5149, Sarah Whittle)]",English,1h44m,"$65,000,000.00","$262,797,249.00","[Adventure, Fantasy, Family]"
0,3,Grumpier Old Men,66.0,"[(Mark Steven Johnson, 16837, Characters, Writer), (Howard Deutch, 26502, Director)]","[(Walter Matthau, 6837, Max Goldman), (Jack Lemmon, 3151, John Gustafson), (Ann-Margret, 13567, Ariel Gustafson), (Sophia Loren, 16757, Maria Sophia Coletta Ragetti), (Daryl Hannah, 589, Melanie Gustafson)]",English,1h41m,-,-,"[Romance, Comedy]"
0,4,Waiting to Exhale,61.0,"[(Terry McMillan, 111118, Novel, Screenplay), (Ronald Bass, 5144, Screenplay), (Forest Whitaker, 2178, Director)]","[(Whitney Houston, 8851, Savannah 'Vannah' Jackson), (Angela Bassett, 9780, Bernadine 'Bernie' Harris), (Loretta Devine, 18284, Gloria 'Glo' Matthews), (Lela Rochon, 51359, Robin Stokes), (Gregory Hines, 66804, Marvin King)]",English,2h7m,"$16,000,000.00","$81,452,156.00","[Comedy, Drama, Romance]"
0,5,Father of the Bride Part II,57.0,"[(Charles Shyer, 56106, Director), (Albert Hackett, 26160, Screenplay), (Nancy Meyers, 17698, Screenplay)]","[(Steve Martin, 67773, George Banks), (Diane Keaton, 3092, Nina Banks), (Martin Short, 519, Franck Eggelhoffer), (Kimberly Williams-Paisley, 70696, Annie Banks-MacKenzie), (George Newbern, 59222, Bryan MacKenzie)]",English,1h46m,-,"$76,578,911.00",[Comedy]

In [123]:
contentData.shape

(9801, 10)

In [127]:
contentData.to_csv('web_scraping_original.csv', sep=',', encoding='utf-8')

In [34]:
print "%08d" % (23,)

00000023

In [22]:
content=movie_data(df['links'][0])
#print content
for i in range(1,4):
    single_item_content=movie_data(df['links'][i])
    #print single_item_content
    frames = [content,single_item_content]
    content = pd.concat(frames)
print content

               TITLE USER SCORE  \
0  Toy Story          78.0
0  Jumanji            69.0
0  Grumpier Old Men   66.0
0  Waiting to Exhale  61.0

                                                                                                                                                                    FEATURED CREW  \
0  [(Alec Sokolow, 12893, Screenplay), (Joel Cohen, 12892, Screenplay), (Joss Whedon, 12891, Screenplay), (John Lasseter, 7879, Director), (Andrew Stanton, 7, Screenplay)]
0  [(Greg Taylor, 56520, Screenplay), (Chris van Allsburg, 42356, Novel), (Jim Strain, 56521, Screenplay), (Joe Johnston, 4945, Director), (Jonathan Hensleigh, 876, Screenplay)]
0  [(Mark Steven Johnson, 16837, Characters, Writer), (Howard Deutch, 26502, Director)]
0  [(Terry McMillan, 111118, Novel, Screenplay), (Ronald Bass, 5144, Screenplay), (Forest Whitaker, 2178, Director)]

                                                                                                                                                                                                                    TOP BILLED CAST  \
0  [(Tom Hanks, 31, Woody (voice)), (Tim Allen, 12898, Buzz Lightyear (voice)), (Don Rickles, 7167, Mr. Potato Head (voice)), (Jim Varney, 12899, Slinky Dog (voice)), (Wallace Shawn, 12900, Rex (voice))]
0  [(Robin Williams, 2157, Alan Parrish), (Jonathan Hyde, 8537, Samuel Alan Parrish / Van Pelt), (Kirsten Dunst, 205, Judy Sheperd), (Bradley Pierce, 145151, Peter Shepherd), (Bonnie Hunt, 5149, Sarah Whittle)]
0  [(Walter Matthau, 6837, Max Goldman), (Jack Lemmon, 3151, John Gustafson), (Ann-Margret, 13567, Ariel Gustafson), (Sophia Loren, 16757, Maria Sophia Coletta Ragetti), (Daryl Hannah, 589, Melanie Gustafson)]
0  [(Whitney Houston, 8851, Savannah 'Vannah' Jackson), (Angela Bassett, 9780, Bernadine 'Bernie' Harris), (Loretta Devine, 18284, Gloria 'Glo' Matthews), (Lela Rochon, 51359, Robin Stokes), (Gregory Hines, 66804, Marvin King)]

  ORIGINAL LANGUAGE RUN TIME          BUDGET          REVENUE  \
0  English           1h       $30,000,000.00  $373,554,033.00
0  English           1h       $65,000,000.00  $262,797,249.00
0  English           1h       -               -
0  English           2h       $16,000,000.00  $81,452,156.00

                          GENRE
0  [Animation, Comedy, Family]
0  [Adventure, Fantasy, Family]
0  [Romance, Comedy]
0  [Comedy, Drama, Romance]